<!DOCTYPE html>
<html lang="en">
<head>
	<title>Error View</title>
	<meta charset="utf-8" />
	<link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
	<h1>404</h1>
	<p>Cannot find weather with this code: @ViewBag.weatherCode</p>
	<div>
		<a href="/">Home</a>
	</div>
</body>


</html>