@model List<WeatherData>
<h2>All Weather data</h2>
<div>
	<ul>
		@foreach (WeatherData weatherData in Model)
		{
			<li>
				<p>Code: @weatherData.CityUniqueCode</p>
				<p>City: @weatherData.CityName</p>
				<p>Date: @weatherData.DateAndTime</p>
				<p>Temperature: @weatherData.TemperatureFahrenheit farenheit</p>
				<div>
					<a href="/weather/@weatherData.CityUniqueCode">detail</a>
				</div>
			</li>
		}
	</ul>
</div>