@model List<WeatherData>
<h2>All Weather data</h2>
<div>
	<ul>
		@foreach (WeatherData weatherData in Model)
		{
			<li>
				<partial name="_CityDetailPartial" model="weatherData"></partial>
				<div>
					<a href="/weather/@weatherData.CityUniqueCode">detail</a>
				</div>
			</li>
		}
	</ul>
</div>